body{
    margin: 0;
    font-family: Arial;
    background-color: #f4f4f4;
}

.hero{
    text-align: center;
    padding: 100px 30px;
    position: relative;
    overflow: hidden;
    padding-top: 150px;
    color: white;
}

.hero video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
} 

.hero h1{
    font-family:franklin;
    padding: 10px 0;
    font-size: 58px;
    text-shadow: -1px -1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #ffffff;
}

.hero p{
    font-family:lucida sans;
    font-size: 20px;
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
    text-shadow: -1px -1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.button{
    margin-top: 30px;
    
}
button,a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:15px 30px;
    font-size:18px;
    border-radius:8px;
    text-decoration: none;
    margin:10px;
    cursor:pointer;
    
}
button{
    background-color: rgba(0,0,0,0.5);
    color:white;
    border:none;

}
a{
    background : rgba(0,0,0,0.5);
    color: white;
}


.services{
    padding:80px 8%;
    background:#ffffff;
}

.section-title{
    text-align:center;
    margin-bottom:60px;
}

.section-title h2{
    font-size:38px;
    color:#96d70b;
    margin-bottom:15px;
}

.section-title p{
    color:#666;
    font-size:20px;
    max-width:700px;
    margin:auto;
    line-height:1.7;
}

.services-container{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:30px;

}

.service-card{

    background:#fff;

    border-radius:15px;

    padding:35px;

    text-align:center;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    transition:.3s;

}

.service-card:hover{

    transform:translateY(-10px);

    box-shadow:0 15px 35px rgba(0,0,0,.15);

}

.service-icon{

    font-size:55px;

    margin-bottom:20px;

}

.service-card h3{

    margin-bottom:15px;

    color:#0B5ED7;

}

.service-card p{

    color:#555;

    line-height:1.7;

    margin-bottom:25px;

}

.service-btn{

    background:#0B5ED7;

    color:white;

    border:none;

    padding:12px 25px;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

    transition:.3s;

}

.service-btn:hover{

    background:#084298;

}
.clinics{
    padding:80px 8%;

    background:#f8fbff;
    text-align:center;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;

}
.clinics h2{
    font-size:38px;
    color:#0B5ED7;
    margin-bottom:15px;
    grid-column: 1 / -1;
}
.card{
    background-color: #ffffff;
    padding: 35px 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    transition: .3s;
    font-size: 25px;
    font-weight: 600;
    color:#333;
    cursor: pointer;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.15);
    color:#0B5ED7;
}
@media(max-width:768px){
    .clinics{
        grid-template-columns:1fr;
    }
}



.why-choose{
    padding:80px 8%;
    background:#f8f8f8;

}

.why-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
    margin-top:50px;
}

.why-card{
    background:#fff;
    padding:35px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}
.why-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.why-icon{
    font-size:65px;
    margin-bottom:20px;
}
.why-card h3{
    margin-bottom:15px;
    color:#0B5ED7;
}
.why-card p{
    color:#555;
    line-height:1.7;
}




/*.stats{
    background:#0B5ED7;
    color:white;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:30px;
    padding:80px 8%;
    text-align:center;
}
.stat-box h2{
    font-size:42px;
    margin-bottom:10px;
}

.stat-box p{
    font-size:18px;
    }
    */

    /* ===========================
   Statistics Section
=========================== */

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 70px 8%;
    background: linear-gradient(135deg, #f5fbff, #e8f6ff);
}

.stat-box {
    background: #ffffff;
    width: 250px;
    padding: 35px 25px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    transition: all 0.35s ease;
    border-bottom: 5px solid #0077b6;
}

.stat-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,119,182,0.25);
}

.stat-box h2 {
    font-size: 42px;
    color: #0077b6;
    margin-bottom: 12px;
    font-weight: 700;
}

.stat-box p {
    font-size: 18px;
    color: #555;
    font-weight: 500;
    letter-spacing: 0.5px;
}

/* Responsive */

@media (max-width: 992px) {
    .stat-box {
        width: 220px;
    }

    .stat-box h2 {
        font-size: 36px;
    }
}

@media (max-width: 768px) {

    .stats {
        padding: 50px 20px;
        gap: 20px;
    }

    .stat-box {
        width: 45%;
    }
}

@media (max-width: 500px) {

    .stat-box {
        width: 100%;
    }

    .stat-box h2 {
        font-size: 34px;
    }

    .stat-box p {
        font-size: 16px;
    }
}

.testimonials{
    padding:80px 8%;
    background:#f8f8f8;

}
.section-title{
    text-align:center;
    margin-bottom:60px;
}

.section-title h2{
    font-size: 42px;
    color:#0B5ED7;
    margin-bottom:15px;
}

.section-title  p{
    color:#666;
    font-size:20px;
    max-width:700px;
    margin:auto;
    
}

.testimonials-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
    
}
.testimonial-card{
    background:#f8f8ff;
    padding:35px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}
.testimonial-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}
.stars{
    color:#f1c40f;
    font-size:24px;
    margin-bottom:15px;
}
.testimonial-card p{
    color:#555;
    line-height:1.8;
    margin-bottom:25px;
    font-style:italic;

}
.testimonial-card h3{

    color:#0B5ED7;

    margin-bottom:8px;

}

.testimonial-card span{

    color:#777;

    font-size:15px;

}


.blogs{

    padding:80px 8%;

    background:#f8fbff;

}

.blog-container{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:35px;

    margin-top:50px;

}

.blog-card{

    background:#fff;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    transition:.3s;

}

.blog-card:hover{

    transform:translateY(-10px);

    box-shadow:0 18px 35px rgba(0,0,0,.15);

}

.blog-card img{

    width:100%;

    height:220px;

    object-fit:cover;

}

.blog-content{

    padding:25px;

}

.blog-content span{

    color:#0B5ED7;

    font-size:14px;

    font-weight:bold;

}

.blog-content h3{

    margin:15px 0;

    color:#333;

    font-size:24px;

}

.blog-content p{

    color:#666;

    line-height:1.7;

    margin-bottom:25px;

}

.blog-content a{

    background:none;

    color:#0B5ED7;

    padding:0;

    margin:0;

    font-weight:bold;

    text-decoration:none;

}

.blog-content a:hover{

    color:#084298;

}


.guide-section{

    padding:90px 8%;

    background:#0B5ED7;

    color:white;

}

.guide-container{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:60px;

    align-items:center;

}

.guide-left h2{

    font-size:42px;

    margin-bottom:20px;

}

.guide-left p{

    font-size:18px;

    line-height:1.8;

    margin-bottom:25px;

}

.guide-left ul{

    list-style:none;

}

.guide-left li{

    margin-bottom:18px;

    font-size:18px;

}

.guide-right{

    background:white;

    padding:40px;

    border-radius:15px;

    box-shadow:0 15px 35px rgba(0,0,0,.2);

}

.guide-right form{

    display:flex;

    flex-direction:column;

}

.guide-right input{

    padding:16px;

    margin-bottom:20px;

    border:1px solid #ddd;

    border-radius:8px;

    font-size:17px;

}

.guide-right button{

    padding:16px;

    background:#28a745;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:18px;

    transition:.3s;

}

.guide-right button:hover{

    background:#218838;

}

@media(max-width:768px){

    .guide-container{

        grid-template-columns:1fr;

    }

}


.booking{

    background:#084298;

    min-height:100vh;

    padding:80px 20px;

}

.booking-container{

    max-width:700px;

    margin:auto;

    background:white;

    padding:50px;

    border-radius:15px;

    box-shadow:0 15px 35px rgba(0,0,0,.1);

}

.booking h1{

    text-align:center;

    color:#0B5ED7;

    margin-bottom:40px;

}

.progress{

    display:flex;

    justify-content:center;

    align-items:center;

    margin-bottom:50px;

}

.step{

    width:45px;

    height:45px;

    border-radius:50%;

    background:#ccc;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:bold;

}

.step.active{

    background:#0B5ED7;

}

.line{

    width:80px;

    height:4px;

    background:#ccc;

}

.form-step{

    display:none;

}

.form-step.active{

    display:block;

}

.form-step h2{

    margin-bottom:30px;

    color:#333;

}

.form-step input,
.form-step select{

    width:100%;

    padding:15px;

    margin-bottom:20px;

    border:1px solid #ddd;

    border-radius:8px;

    font-size:16px;

}

.form-step button{

    margin-top:10px;

}


.thank-you{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#0B5ED7,#2E8BFF);

    padding:30px;

}

.thank-you-card{

    background:#ffffff;

    width:100%;

    max-width:650px;

    padding:50px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 20px 50px rgba(0,0,0,.15);

}

.success-icon{

    width:100px;

    height:100px;

    margin:auto;

    border-radius:50%;

    background:#28a745;

    color:white;

    font-size:50px;

    display:flex;

    justify-content:center;

    align-items:center;

    margin-bottom:30px;

}

.thank-you-card h1{

    color:#0B5ED7;

    font-size:38px;

    margin-bottom:20px;

}

.thank-you-card p{

    color:#555;

    font-size:18px;

    line-height:1.8;

    margin-bottom:15px;

}

.thank-buttons{

    margin-top:40px;

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}

.home-btn,
.book-again-btn{

    display:inline-block;

    padding:15px 30px;

    border-radius:8px;

    text-decoration:none;

    font-size:17px;

    font-weight:bold;

    transition:.3s;

}

.home-btn{

    background:#0B5ED7;

    color:white;

}

.home-btn:hover{

    background:#084298;

}

.book-again-btn{

    background:#28a745;

    color:white;

}

.book-again-btn:hover{

    background:#218838;

}

@media(max-width:768px){

    .thank-you-card{

        padding:35px 25px;

    }

    .thank-you-card h1{

        font-size:30px;

    }

    .thank-buttons{

        flex-direction:column;

    }

    .home-btn,
    .book-again-btn{

        width:100%;

    }

}